* {
  margin: 0;
  padding: 0;
  border: 0;

  &, &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow: hidden auto;
  font-weight: 400;
}

html, body {
  word-break: break-word;
}
